<!DOCTYPE html>
<html>
<head>
    <title>EJS Engine Test</title>
</head>
<body>
  
  <!- For printing variable these
      tags are used: <%= %>  -->
  <h1> <%= title %> </h1>
     
  <!- For business logic these
      tags are used: <% %> -->
  <% if(true){ %>
      <h4>Greetings from MZPROG</h4> 
  <% } %>
</body>
</html>